select {
    width: auto;
}
.right {
    float: right;
}
.left {
    float: left;
}
.table-header {
    border-bottom: solid 1px black;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.table-header select {
    margin-left: 20px;
}
.table-header a {
    margin-left: 20px;
}
.table-body .row {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.table-body .row div, .table-body .row a {
    float: left;
}
.table-body .row.teacher div {
    width: 50%;
}
.table-body .row.student div, .table-body .row.student a {
    display: block;
    width: 25%;
}
.table-body .individual.row {
    background: #d4d4d4;
}
.table-body .teachers {
    margin-top: 10px;
}