* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.graph {
	position: relative;
	border: solid 1px black;
	height: 680px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
	margin: 20px 0;
}

.graph .graph-container {
    min-width: 668px;
}

.graph .inner {
	padding: 10px;
	position: relative;
	width: 100%;
	height: 600px;
}

.graph .options {
	border-bottom: solid 1px black;
	overflow: hidden;
	text-align: center;
}

.graph .options div {
	width: 25%;
	float: left;
	padding: 10px;
	height: 40px;
	line-height: 40px;
	padding-top: 0;
	cursor: pointer;
}

.graph .options div:hover {
	background: #cfcfcf;
}

.graph .options .selected {
	background: #cfcfcf;
}

.graph .title {
	margin: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.graph .x-axis, .graph .y-axis, .graph .points {
	position: absolute;
	margin: 60px;
	margin-top: 0;
	margin-bottom: 120px;
	height: 80%;
	width: 80%;
}

.graph .y-axis {
	left: 0;
	top: 0;
	width: 3px;
	background: black;
}

.graph .y-axis .y-labels {
	position: absolute;
	left: -50px;
	padding-top: 12px;
}

.graph .y-axis .y-label {
	direction: rtl;
	margin-bottom: 66%;
}

.graph .x-axis {
	left: 0;
	bottom: 0;
	height: 3px;
	background: black;
}
.graph .points {
	bottom: 0;
	left: 0;
	margin: 63px;
	padding: 3px 3px 0 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 123px;
}
.graph .point {
	width: 20px;
	height: 20px;
	position: relative;
}
.graph .point .dot {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: black;
	margin: 0 auto;
	margin-top: -8px;
	position: relative;
}
.graph .point .dot .info {
	display: none;
	top: -100%;
	background: white;
	border: solid 1px black;
	padding: 10px;
	position: absolute;
	white-space: nowrap;
	z-index: 99999;
}
.graph .point .dot:hover .info {
	display: block;
}
.graph .line {
	position: relative;
}
.graph .line-bar {
	position: absolute;
	left: -6px;
	right: -6px;
	height: 2px;
	margin-top: -5px;
	background: black;
	z-index: -1;
	transform-origin: left;
}
.date {
	position: absolute;
	bottom: -40px;
	font-size: 18px;
	transform: rotate(270deg);
	transform-origin: 0px 0px;
	width: 0;
	color: #888;
	font-style: italic;
	direction: rtl;
}