/* Normalising */

html, body {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
input::-webkit-input-placeholder {
	color: #8E8E8E !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: #8E8E8E !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #8E8E8E !important;  
}
 
input:-ms-input-placeholder {  
	color: #8E8E8E !important;  
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* General styling definitions */

a {
	color: #1f22b1;
	text-decoration: none;
}
a:visited {
	color: #1f22b1;
}
a:hover {
	text-decoration: underline;
}
.title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 10px;
}
.text {
	font-size: 17px;
	margin-bottom: 20px;
	text-align: justify;
}

/* Navbar */

.navbar {
	position: fixed;
	height: 60px;
	width: 100%;
	z-index: 9999;
}
.navbar .nav-inner {
	width: 100%;
	height: 100%;
	background: #2A2E9E;
	z-index: 9999;
}
.navbar a {
	color: white;
	text-decoration: none;
}
.navbar .nav-item a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.nav-container {
	width: 700px;
	margin: 0 auto;
}
.nav-items {
	float: right;
	list-style: none;
}
.nav-item, .navbar .title {
	float: left;
	display: block;
}
.nav-item a, .navbar .title {
	line-height: 60px;
	height: 60px;
	display: block;
}
.navbar .title {
	font-weight: normal;
	font-size: 26px;
	padding-left: 10px;
	margin-bottom: 0;
}
.nav-item a {
	padding: 0 15px;
}
.navbar #dropdown {
	display: none;
	padding: 9px 7px;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	float: right;
	margin-right: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	cursor: pointer;
}
.navbar .bar {
	width: 100%;
	height: 3px;
	margin-bottom: 5px;
	background: white;
	border-radius: 2px;
}
.navbar .banner {
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	background: rgba(16, 112, 14, 0.8);
	color: white;
	position: relative;
}
.banner .close {
	position: absolute;
	right: 10px;
	font-size: 19px;
	top: 0;
	font-weight: bold;
	cursor: pointer;
}

/* Page layout */

.wrapper {
	min-height: 100%;
	width: 100%;
}
.wrapper-main {
	padding-bottom: 100px;
	padding-top: 60px;
}
.content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 15px;
	overflow: hidden;
}
.center {
	text-align: center;
}
.break-line {
	height: 1px;
	background: #ccc;
	width: 100%;
	margin: 16px 0;
}

/* Footer layout */

.footer {
	background: #222;
	color: white;
	height: 100px;
	text-align: center;
	margin-top: -100px;
}
.footer-container {
	display: table;
	margin: 0 auto;
	height: 100%;
}
.footer-content {
	display: table-cell;
	width: 700px;
	vertical-align: middle;
	padding: 0 10px;
}

/* Cards */

.card {
	margin: 9px 0;
	background: rgba(0, 0, 0, 0.05);
	border: solid 1px rgba(0, 0, 0, 0.2);
	padding: 15px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	float: left;
}
.card-2 {
	width: 48%;
}
.card-2-1 {
	float: left;
}
.card-2-2 {
	float: right;
}
.card-1 {
	width: 100%;
}
.card .title {
	font-size: 19px;
	margin-bottom: 6px;
}
.card .text {
	font-size: 15px;
	text-align: justify;
}
.card .text ol {
	margin-left: 20px;
	margin-top: 10px;
}
.card .text ol li {
	margin-top: 4px;
	padding-left: 4px;
}

/* Form */

form .form-block {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: table;
	vertical-align: middle;
	padding: 5px;
}
form .form-block .left {
	padding-right: 5px;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
}
form .form-block .right {
	width: 60%;
	padding-left: 5px;
	display: table-cell;
	vertical-align: middle;
}
form .form-block label {
	display: block;
}
form .form-block input[type=text],
form .form-block input[type=email],
form .form-block input[type=password] {
	display: block;
	width: 100%;
	padding: 10px 10px;
	border-radius: 4px;
	border: solid 1px #bbb;
	outline: none;
	transition: 0.2s border-color ease;
}
form .form-block input[type=text]:focus,
form .form-block input[type=email]:focus,
form .form-block input[type=password]:focus {
	border-color: #2A2E9E;
}
form .form-block button {
	padding: 10px 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	background-color: #2196f3;
	color: #fafafa;
	border: solid 1px #005cab;
	cursor: pointer;
	font-size: 15px;
	font-family: sans-serif;
	border-radius: 4px;
	float: left;
	transition: background-color 0.2s ease;
	outline: none;
}
form .form-block button:hover {
	background-color: #005cab;
}
form .form-block a {
	text-align: left;
	float: left;
	font-size: 10px;
}
.login-form .form-block .left .inner {
	width: 100px;
}
.login-form .form-block .right .inner {
	width: 200px;
}
.signup-form .form-block .left .inner {
	width: 140px;
}
.signup-form .form-block .right .inner {
	width: 210px;
}

select {
	width: 100%;
	height: 35px;
	background: white;
	color: #8E8E8E;
	outline: none;
	border-color: #bbb;
	border-radius: 4px;
}

/* Take a test prompt */

.prompt {
	margin-bottom: 25px;
}
a.test-button {
	width: 100%;
	height: 60px;
	border-radius: 8px;
	color: white;
	background: #1155dd;
	text-align: center;
	display: block;
	text-decoration: none;
	line-height: 60px;
	font-size: 20px;
	margin-top: 25px;
}
a.test-button:hover {
	background: #1155aa;
}

/* Responsive */

@media all and (max-width: 700px) {
	.nav-container {
		width: auto;
	}
	.content { 
		width: 100%;
	}
}

@media all and (max-width: 550px) {
	.card {
		width: 100%;
	}
	.content { 
		width: 100%;
	}
}

@media all and (max-width: 450px) {
	.nav-items {
		width: 100%;
		height: 0;
		transition: height 0.4s ease;
	}
	.navbar {
		position: relative;
		margin-bottom: -60px;
	}
	.navbar .nav-inner, .navbar {
		height: auto;
		overflow: hidden;
	}
	.nav-items li {
		width: 100%;
		float: left;
	}
	.navbar #dropdown {
		display: block;
	}
	.navbar #dropdown.selected + .nav-items {
		height: 240px;
	}
}

/* Responsive override */

.form-card {
	width: 370px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.signup-card {
	width: 400px;
}

/* Responsive override override */

@media all and (max-width: 400px) {
	.form-card {
		width: 100%;
	}
}