/* Modal */

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	display: table;
	vertical-align: middle;
	z-index: 9999;
}
.overlay .modal {
	height: auto;
	padding: 20px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.overlay .modal .inner {
	display: block;
	height: auto;
	width: 400px;
	background: white;
	padding: 20px;
	margin: 0 auto;
}
.overlay .title {
	font-size: 23px;
	margin-bottom: 10px;
	font-weight: bold;
}
.overlay .text {
    font-size: 16px;
    text-align: center;
}
.overlay .end-text {
	font-size: 15px;
	margin-top: 10px;
	color: #aaa;
}