/* data slider styles */

.data-slider {
    border-right: solid 2px #cbcbcb;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* data tabs */

.data-tabs {
    width: 100%;
    height: 60px;
    text-align: center;
}
.tab-title {
    cursor: pointer;
    width: 23%;
    border: solid 2px #cbcbcb;
    border-right: none;
    float: left;
    height: 60px;
    line-height: 60px;
}
.tab-title.selected {
    width: 31%;
    border-bottom: none;
}

/* data items */

.data-items {
    border: solid 2px #cbcbcb;
    border-top: none;
    border-right: none;
}
.data-item {
    padding: 20px;
    display: none;
}
.data-item.selected {
    display: block;
}

/* Edit buttons */

.edit-info {
    display: block;
    float: left;
    width: 50%;
}
.edit-password {
    display: block;
    float: left;
    width: 50%;
    text-align: right;
}

/* User Information */

.labels {
    width: 50%;
    text-align: right;
    padding-right: 10px;
    float: left;
}
.label {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    height: 20px;
    line-height: 20px;
}
.values {
    width: 50%;
    float: left;
    padding-left: 10px;
}
.value {
    font-size: 16px;
    margin: 10px 0;
    height: 20px;
    line-height: 20px;
}
.score-error {
    padding: 10px;
    text-align: center;
    background: #d4d4d4;
    margin-bottom: 10px;
}