/* Normalising */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
    font-family: sans-serif;
}

/* Quiz model */

.quiz-container {
    width: 100%;
    height: 100%;
    display: none;
    vertical-align: middle;
    text-align: center;
}

.quiz {
    width: 700px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

/* Question style */

#question {
    width: 100%;
    text-align: center;
}

/* Answers styles */

#answers {
    width: 100%;
}

.answer {
    width: 46%;
    margin: 2%;
    height: 200px;
    background: red;
    color: white;
    border-radius: 5px;
    float: left;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 27px;
    cursor: pointer;
    display: table;
    padding: 15px;
    table-layout: fixed;
}

.answer1 {
    background: red;
}

.answer2 {
    background: green;
}

.answer3 {
    background: blue;
}

.answer4 {
    background: #ffbf00;
}

/* Extras */

.counters {
    text-align: center;
}

.counters * {
    float: left;
    width: 50%;
}

.answer-val {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
}

.answer-val, #question {
    font-family: "Times New Roman";
    font-size: 27px;
}

#output {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

/* Text formatting */

.square {
    letter-spacing: 3px;
}

.square sup {
    font-size: 17px;
}

/* styling for starting modules */

#quiz-options {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

#quiz-options .inner {
    display: table-cell;
    vertical-align: middle;
}

#quiz-options .qval {
    width: 100px;
	height: 60px;
	border-radius: 8px;
	color: white;
    background: #1155dd;
    display: inline-block;
	line-height: 60px;
    font-size: 20px;
    margin: 0 10px;
    margin-top: 25px;
    cursor: pointer;
}

#quiz-options .qval:hover {
    background: #1155aa;
}